<html>
  <meta charset="UTF-8">
  <head>
      <title>ログイン画面</title>
  </head>
  <body>
  <p>あなたの登録したメールアドレスを表示します。</p>
  <p>情報を入れなさい</p>
  <form action="output.php" method="post">
   <table border="1">
    <tr>
     <td>ユーザid</td>
     <td><input type="text" name="uid"></td>
    </tr>
    <tr>
     <td>パスワード</td>
     <td><input type="text" name="password"></td>
    </tr>
   </table>
   <input type="submit" value="ログイン">
  </form>
 </body>
</html>
